.wrapper {
  cursor: grab;
  transition: box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--default-bg-color);
  border-top: var(--regulation-item-border);
  padding: var(--regulation-item-padding);
  width: var(--regulation-item-width);
}

.title {
  padding: 0 0 0 10px;
  font-size: var(--font-size-m);
}

.wrapper:active {
  cursor: grabbing;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
