.button {
  $this: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  height: max-content;
  width: max-content;
  color: white;
  background-color: var(--main-button-bg-color);
  outline: transparent;
  transition: all 0.3s;
  cursor: pointer;

  &-Text {
    margin-left: 12px;
  }

  &:hover {
    background-color: var(--main-button-bg-hover-color);
  }

  &.active {
    background: blue;
  }
  //&#{$this}__isActive {
  //  background-color: $color-mercury-gray;
  //
  //  &:hover {
  //    background-color: $color-mercury-gray;
  //  }
  //}
  //
  //&#{$this}__isDisabled {
  //  color: $color-disabled;
  //  background-color: $color-disabled-secondary;
  //  border-color: $color-disabled-secondary;
  //  cursor: default;
  //
  //  &:hover {
  //    color: $color-disabled;
  //    background-color: $color-disabled-secondary;
  //    border-color: $color-disabled-secondary;
  //  }
  //}
}
