.formatButton {
  .buttonContainer {
    padding: 10px;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
  }

  &.active {
    background-color: #FFEFF5;
  }

  & svg {
    fill: #F91F71;
    transition: all 0.15s;
  }

  & path {
    fill: #F91F71;
    transition: all 0.15s;
  }
}
