.regulationModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);

  .modalContent {
    width: 100%;
    max-width: 1170px;
    border-radius: 12px;

    padding: 10px 20px 20px 20px;

    background: #FFFFFF;

    gap: 10px;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      font-size: 24px;

      padding-bottom: 10px;

      border-bottom: 1px solid #EEF2F8;

      .control {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      .iconButtonContainer {
        width: 44px;
        height: 44px;
        padding: 10px;
        box-sizing: border-box;
      }
    }

    .editor {
      display: flex;
      flex-direction: row;

      gap: 10px;
    }

    .footer {
      display: flex;
      flex-direction: row;

      padding: 10px 0 10px 0;

      .sectionFooter {
        width: 100%;
        max-width: 260px;

        border-right: 1px solid #EBEDEF;
      }

      .editorFooter {
        width: 100%;

        display: flex;
        justify-content: flex-end;

        .saveButton {
          border-radius: 8px;
          padding: 10px 15px;
          border: 1px solid #C9D4E7;
        }
      }
    }
  }
}

.regulation {
  background: var(--default-bg-color);
  border-radius: 12px;
  padding: 20px;
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.editorViewer {
  width: 100%;
  max-width: 880px;

  padding: 15px;

  border-radius: 8px;
  border: 1px solid #EBEDEF;

  overflow: scroll;
  height: 610px;
  min-height: 300px;
}

