.textEditorWrapper {
  width: 100%;
  max-width: 880px;


  h1,
  h2 {
    margin: revert !important;
  }

  h1 {
    line-height: 36px;
  }

  h2 {
    line-height: 24px;
  }

  ol,
  ul {
    margin: 0 0 10px 25px;
  }

  .TextEditorWrapperHidePlaceholder {
    display: none;
  }

  .TextEditorWrapperTitle {
    opacity: 0.5;
    color: red;
    margin-bottom: 4px;
  }

  .textEditorArea {
    //box-sizing: border-box;
    //border-radius: 8px;
    //border: 1px solid greenyellow;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #EBEDEF;

    .textEditorAreaIsFocused {
      border: 1px solid blue;
    }

    .textEditorAreaIsInvalid {
      border: 1px solid green;
    }
  }

  .textEditorControl{
    display: flex;
    flex-direction: row;
    gap: 1px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #EBEDEF;
    border-bottom: none;

    //display: flex;
    //gap: 8px;
    //box-sizing: border-box;
    //padding: 16px;
    //border-top: 1px solid chartreuse;
    //color: purple;
  }

  .DraftEditor-root {
    & .public-DraftEditorPlaceholder-root {
      color: red;
      opacity: 0.5;
    }

    & .public-DraftStyleDefault-orderedListItem,
    .public-DraftStyleDefault-unorderedListItem {
      position: unset;
    }

    & .public-DraftStyleDefault-orderedListItem {
      list-style-type: unset;
    }

    & .public-DraftStyleDefault-orderedListItem::before {
      display: none;
    }
  }

  .DraftEditor-editorContainer {
    //height: 222px;
    color: inherit;
    overflow-y: scroll;
  }

  //position: relative;
  //box-sizing: border-box;
}
