.textEditorWrapper {
  width: 100%;
  max-width: 880px;

  &.textEditorAreaIsFocused {
    //border: 1px solid #2b2121;
  }


  h1,
  h2 {
    margin: revert !important;
  }

  h1 {
    line-height: 36px;
  }

  h2 {
    line-height: 24px;
  }

  ol,
  ul {
    margin: 0 0 10px 25px;
  }

  .dynamicField {
    display: inline-block;
    vertical-align: middle;
  }

  .dynamicFieldButtonContainer {
    display: flex;
    flex-direction: row;

    margin-left: auto;

    .dynamicFieldButton {
      background: #FFEFF5;
      padding: 10px 15px;
      border-radius: 8px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: #F91F71;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0;

      margin: 3px;
    }
  }


  .TextEditorWrapperHidePlaceholder {
    display: none;
  }

  .TextEditorWrapperTitle {
    opacity: 0.5;
    color: red;
    margin-bottom: 4px;
  }

  .textEditorArea {
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #EBEDEF;

    height: 610px;

    .textEditorAreaIsInvalid {
      border: 1px solid green;
    }

    min-height: 300px; // или любую нужную
    position: relative;

    .emptyEditor {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .header {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;
      }

      .description {
        font-size: 16px;
        color: #020914;
        line-height: 24px;

        max-width: 295px;
      }
    }


  }

  .textEditorControl{
    display: flex;
    flex-direction: row;
    gap: 1px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #EBEDEF;
    border-bottom: none;
  }

  //.RegulationEditor-root {
  //  .public-DraftStyleDefault-block {
  //    margin: 0;
  //  }
  //
  //  & .public-DraftEditorPlaceholder-root {
  //    color: red;
  //    opacity: 0.5;
  //  }
  //
  //  & .public-DraftStyleDefault-orderedListItem,
  //  .public-DraftStyleDefault-unorderedListItem {
  //    position: unset;
  //  }
  //
  //  & .public-DraftStyleDefault-orderedListItem {
  //    section-style-type: unset;
  //  }
  //
  //  & .public-DraftStyleDefault-orderedListItem::before {
  //    display: none;
  //  }
  //}
  //
  //.RegulationEditor-editorContainer {
  //  color: inherit;
  //  overflow-y: scroll;
  //}
}