.wrapper {
  display: flex;
  width: 100%;
}

.inputContainer {
  width: 100%;
  position: relative;

}

.inputField {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-m);
  background-color: transparent;

  &::placeholder {
    color: var(--input-placeholder-color);
    font-size: 14px;
  }
}

.copyButton {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
  color: white;
  background: #F91F71;

  border-radius: 8px;
  padding: 2px;

  &:hover {
    opacity: 1;
    color: white;
    background: #F91F71;
  }
}


