.wrapper {
  background: var(--default-bg-color);

  width: 100%;
  max-width: 250px;

  //padding: 10px 0 10px 10px;

  border-right: 1px solid #EBEDEF;
}

.header {
  align-items: center;
  color: #020914;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 10px 5px;

}