.blockWrapper {
  background: var(--default-bg-color);

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;

  .buttonContainer {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;

    gap: 5px ;
    &.expanded {
      background: #F8F9FC;
    }

    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #020914;
    }
  }

  .sections {
    gap: 5px ;
    display: flex;
    flex-direction: column;
  }
}