.wrapper {
  background: var(--default-bg-color);
  width: 100%;


}

.container {
  margin: 30px;

  display: flex;
  flex-direction: column;

  gap: 20px
}

.header {
  display: flex;
}

.images {
  display: flex;

  img {
    width: 250px;
    height: 250px;
  }
}

.imageBlock {
  display: flex;
}