.regulationSectionWrapper {
  background: var(--default-bg-color);

  width: 100%;
  max-width: 260px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-right: 1px solid #EBEDEF;

  padding-right: 10px;
}

.search {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;


  gap: 5px;

  .searchArea {
    width: 100%;
    border: none;
    outline: none;

    transition: height 0.2s ease;
    text-wrap: nowrap;
    resize: none;

    font-size: var(--font-size-m);

    &::placeholder {
      color: var(--text-area-placeholder-color);
      font-size: var(--font-size-m);
    }
  }

  border-bottom: 1px solid #EBEDEF;
}

.header {
  align-items: center;
  color: #020914;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 10px 5px;

}

.sections {
  .sectionsHeader {
    align-items: center;
    color: #020914;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0 10px 5px;
  }

  border-bottom: 1px solid #EBEDEF;
}

