.textAreaField {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-m);
  background-color: transparent;
  min-height: 80px;
  //padding: 8px;
  line-heigfht: 1.5;
  transition: height 0.2s ease;
  resize: none;

  &::placeholder {
    color: var(--text-area-placeholder-color);
    font-size: var(--font-size-m);
  }

  /* Optional: Add box-sizing to include padding in height calculations */
  box-sizing: border-box;
}
