.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);

  .modalContent {
    width: 800px;
    height: 700px;
    border-radius: 12px;

    padding: 10px 20px 20px 20px;

    background: #FFFFFF;

    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  font-size: 24px;

  padding-bottom: 10px;

  border-bottom: 1px solid #EEF2F8;

  .iconButtonContainer {
    width: 44px;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
  }
}

.content {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  gap: 10px;

  .stepControl {
    display: flex;
    flex-direction: column;
    gap: 20px;


  }

  .stepsContainer {
    overflow-y: scroll;
    max-height: 300px;
  }

  .addStepButton {
    width: 100%;
    display: flex;
    justify-content: center;

    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    background: #0BB2E7;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .controlButton {
    border-radius: 8px;
    color: white;
    background: #0BB2E7;
    padding: 10px 80px;
  }
}

