.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);

  .modalContent {
    width: 100%;
    max-width: 1170px;
    border-radius: 12px;

    padding: 10px 20px 20px 20px;

    background: #FFFFFF;

    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  font-size: 24px;

  padding-bottom: 10px;

  border-bottom: 1px solid #EEF2F8;

  .iconButtonContainer {
    width: 44px;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
  }
}

.content {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  gap: 10px;

  .aboutBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    gap: 5px;

    .meta {
      display: flex;
      flex-direction: row;

      gap: 5px;
    }
  }

  .instructionContainer {
    padding: 0;

    .filter {
      display: grid;
      grid-template-columns: 40px 1fr 2fr 2fr;

      padding-right: 15px;

      border-bottom: 1px solid #D8E1EF;

      .filterButton {
        color: #8692A7;

        display: flex;
        flex-direction: row;
        gap: 5px;

        padding: 5px;

        border-right: 1px solid #D8E1EF;
      }

      .filterButton:first-child {
        justify-content: center;
      }

      .filterButton:last-child {
        border-right: 0;
      }
    }

    .stepsContainer {
      overflow-y: scroll;
      max-height: 280px;

      .stepBlock {
        display: grid;
        grid-template-columns: 40px 1fr 2fr 2fr;

        border-bottom: 1px solid #D8E1EF;
      }

      .stepBlock:last-child {
        border-bottom: 0;
      }

      .step {
        display: flex;
        flex-direction: row;
        width: 100%;

        color: #8692A7;

        gap: 5px;

        padding: 5px;

        border-right: 1px solid #D8E1EF;
      }

      .step:first-child {
        justify-content: center;
      }

      .step:last-child {
        border-right: 0;
      }

      .dropdownPosition {
        border-radius: 0;
        border: 0;
      }
    }
  }
}

  .regulations {
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .noRegulation {
      color: #8692A7;
      text-align: center;
      font-size: 14px;
    }

    .selectedRegulations {
      display: flex;
      flex-direction: column;

      //flex-wrap: wrap;
      gap: 6px;
      //margin-bottom: 10px;

      .regulationTag {
        background: #FFEFF5;
        color: #F91F71;
        border-radius: 8px;
        padding: 20px 10px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
      }

      .removeRegulation {
        font-size: 15px;
        cursor: pointer;
        margin-left: 2px;
        &:hover { color: #ff1f56; }
      }
    }
  }




  .addStepButton {
    width: 100%;
    display: flex;
    justify-content: center;

    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    background: #0BB2E7;
  }


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .controlButton {
    border-radius: 8px;
    color: white;
    background: #0BB2E7;
    padding: 10px 80px;
  }
}