:root {
  --default-ph-bg-color: #EEF2F8;
  --default-bg-color: #FFFFFF;
  --default-border: 1px solid #D8E1EF;
  --default-border-radius: 12px;
  --default-padding: 20px;

  --default-center-margin: 0 auto;

  --default-icon-fill: black;
  --disabled-button: #ccc;


  // * Fonts
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;

  --font-weight-sb: 600;
  --font-weight-eb: 800;


  --white-font-color: #FFFFFF;
  --black-font-color: #000000;

  // * Navbar
  --navbar-navlink-active-color: #F91F71;
  --navbar-height: 84px;
  --navbar-border-radius: 0 0 16px 16px;
  --navbar-padding: 0 0 0 20px;

  // * Button
  --main-button-bg-color: #F91F71;
  --main-button-bg-hover-color: #db3070;
  --main-button-border-radius: 8px;
  --main-button-padding: 10px 15px 10px 15px;

  // * Label
  --label-color: #A0ABBE;
  --label-padding: 0 0 0 2px;

  // * Input
  --input-border-radius: 8px;
  --input-padding: 10px 15px 10px 15px;
  --input-gap: 10px;
  --input-width: 100%;
  --input-placeholder-color: #8692A7;

  // * TextArea
  --text-area-placeholder-color: #8692A7;

  // * Regulation
  --regulation-list-width: 505px;

  --regulation-list-header-color: #8692A7;

  --regulation-item-width: 100%;
  --regulation-item-padding: 10px 15px;
  --regulation-item-border: 1px solid #EEF2F8;
}
