.wrapper {

  display: flex;
  flex-direction: column;

  gap: 10px;

  border-radius: 12px;

  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

}

.container {
  background: var(--default-bg-color);

  border-radius: 12px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .aboutBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    gap: 5px;

    .meta {
      display: flex;
      flex-direction: row;

      gap: 5px;
    }
  }

  .regulationsBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .regulationContainer {
      display: flex;
      flex-direction: column;

      gap: 5px;
    }
    .regulationTag {
      background: #FFEFF5;
      color: #F91F71;
      border-radius: 8px;
      padding: 20px 10px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }

  .instructionBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .instructionContainer {
      padding: 0;

      .filter {
        display: grid;
        grid-template-columns: 40px 1fr 2fr 2fr;

        padding-right: 15px;

        border-bottom: 1px solid #D8E1EF;

        .filterButton {
          color: #8692A7;

          display: flex;
          flex-direction: row;
          gap: 5px;

          padding: 5px;

          border-right: 1px solid #D8E1EF;
        }

        .filterButton:first-child {
          justify-content: center;
        }

        .filterButton:last-child {
          border-right: 0;
        }
      }

      .stepsContainer {
        overflow-y: scroll;
        max-height: 280px;

        .stepBlock {
          display: grid;
          grid-template-columns: 40px 1fr 2fr 2fr;

          border-bottom: 1px solid #D8E1EF;
        }

        .stepBlock:last-child {
          border-bottom: 0;
        }

        .step {
          display: flex;
          flex-direction: row;
          width: 100%;

          color: #8692A7;

          gap: 5px;

          padding: 5px;

          border-right: 1px solid #D8E1EF;
        }

        .step:first-child {
          justify-content: center;
        }

        .step:last-child {
          border-right: 0;
        }
      }
    }
  }

  .controlBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;

    .controlButton {
      border-radius: 8px;
      color: white;
      background: #0BB2E7;
      padding: 10px 80px;

      &.disabled {
        color: #8692A7;
        background: #D8E1EF;
      }
    }
  }
  .label {
    width: 100%;
  }
}